#home {
  talking-logo {
    padding-top: 5px;
    width: 150px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .search{
    margin-top: 30px;
  }
  form
    {   margin: 0 auto;
        align: center;
    }
  .microphone {
    border: 1px;
    boder-radius: 5px;
  }

}



.glyphicon-refresh{
    animation: spin .7s infinite linear;
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

