<div class="container" ng-model="recipeDetail">
	 <img ng-src= "{{recipeDetail.image}}">
	<div class="caption center" >
		<h4>Title: {{recipeDetail.title}}</h4>
		<h4>Prepare Time: {{recipeDetail.readyInMinutes}} minutes</h4>
	    <div class="instructions">
		    <h4> Instructions </h4>
		    <button type="button" class="btn btn-default btn-lg" ng-click="speakstep('back')" >
		    	<span class="glyphicon glyphicon-backward" name="back" aria-hidden="true"></span>
		    </button>
		     <button type="button" class="btn btn-default btn-lg" ng-click="speakstep('play')" >
	  			<span class="glyphicon glyphicon-play" name="play" value="play" aria-hidden="true"></span>
	  		</button>
	  		 <button type="button" class="btn btn-default btn-lg" ng-click="speakstep('next')">
	  			<span class="glyphicon glyphicon-forward" name="next" value="next" aria-hidden="true"></span>
	        </button>
        </div>

		<ol class="instructions">
			<li ng-repeat="step in instructions">{{step}}</li>		
		</ol>
		
	<div>

</div>