<div class="container" id="recipetatals" >

	<div class="title" >
		<h2 id='title'>{{cusine}} Talking Recipes</h2>
		<p id='subtitle'>Try our wonderful recipes.</p>
	</div>
	<div class="thumbnail main" ng-model="mainrecipe">
	    <a ng-click="recipedetail(mainrecipe.id)">
		<img ng-src= "{{mainrecipe.imaSrc}}"></a>
		<div class="caption">
			<h4>Title: {{mainrecipe.title}}</h4>
			<h4>Time: {{mainrecipe.readyInMinutes}}</h4>
		<div>
	</div>

	<!-- <div class="thumbnail" ng-repeat="recipe in otherrecipes">
	    <a ng-click="recipedetail(recipe.id)">
		<img ng-src= "{{recipe.imaSrc}}"></a>
		<div class="caption">
			<h4>Title: {{recipe.title}}</h4>
			<h4>Time: {{recipe.readyInMinutes}}</h4>
		<div>
	</div>
 -->

</div>
