#recipes {
	align: center;
	font-family: "Comic Sans MS",cursive, sans-serif;
	font-size: 30px;
	img {
	  display: block;
      width: 60%;
      margin: 0 auto;
	}
	.caption{
		text-align: center;
		margin: 5px auto;
	}
}